body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: 1px solid rgb(201, 246, 157);
  border-radius: 4px;
  padding: 6px 16px;
  margin: 4px;
  margin-right: 8px;
  background-color: rgb(237, 180, 99);
  cursor: pointer;
  font-size: 14px;
}
button:hover {
  border: 1px solid rgb(248, 166, 58);
  color: rgb(15, 41, 125);
  background-color: rgb(220, 208, 192);
}
