.login {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 1px;
  border-radius: 4px;
  width: 100%;
  margin: 40px;
}
.login form {
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 247, 232);
  padding: 40px;
  border-radius: 4px;
  border: 1px rgb(168, 167, 167) solid;
}

/* .login button {
  background-color: rgb(61, 166, 246);
  border: 1.5px rebeccapurple solid;
  border-radius: 4px;
  margin: 20px 8px;
  padding: 8px;
  cursor: pointer;
}
.login button:hover {
  background-color: rgb(91, 179, 247);
  border: 1.5px rgb(86, 32, 140) solid;
} */
.login span {
    color: rgb(226, 24, 24);
}

.inputs{
  display: flex;
  flex-direction: column
}
